body {
  background-color: #f9f7fd;
}
#image {
  position: absolute;
}
.weather-app {
  background-color: aqua;
  margin: 200px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  justify-content: right;
}

#search-button {
  background-color: blueviolet;
  font-size: large;
}
.city-name {
  font-size: xx-large;
}
