body {
  background-image: url(/Users/amagoiaakarregi/Desktop/week6/weather-app/earth-at-night.jpg);
  width: 100%;
  height: auto;
}

.weather-app {
  background: #fff;
  max-width: 600px;
  margin: 145px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 80px;
  padding: 30px;
  opacity: 0.7;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#search-city {
  color: pink;
  border-bottom: 6px;
  width: 65%;
  margin-left: 35px;
  background-color: rgb(28, 28, 100);
  font-family: "Play", sans-serif;
  font-size: 20px;
  padding: 13px;
  opacity: 1;
  margin-left: 20px;
}

#search-button {
  width: 20%;
  margin-left: 20px;
  background-color: rgb(38, 38, 100);
  color: pink;
  font-family: "Play", sans-serif;
  padding: 13px;
  font-size: 20px;
}
a {
  color: rgb(38, 38, 100);
}

.weather-data {
  display: flex;
  justify-content: space-between;
}
.city-name {
  font-size: 40px;
  padding-left: 20px;
}
#day-date #number {
  font-weight: 600;
  padding-left: 23px;
}
strong {
  color: rgb(172, 30, 54);
}
.emoji-temp {
  display: flex;
  justify-content: baseline;
}
.emoji {
  padding-top: 40px;
  font-size: 120px;
}
.temp {
  padding-top: 80px;
  font-size: 50px;
}

footer {
  border-top: 1px solid pink;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 12px;
}
